.info {
    margin-top: 6rem;
}

.info h1 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.info h2 {
    font-weight: 700;
    padding-top: 2px;
    margin-top: 2px;
}

.info p {
    font: 14px;
    color: rgba(148 148 149);
    padding-right: 20px;
}

.info span {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: underline;
}

@media only screen and (max-width: 932px) {
    .info {
        margin-top: 2rem;
    }

    .info h1 {
        font-size: 35px;
        font-weight: 600;
        padding-bottom: 1px;
        margin-bottom: 1px;
    }

    .info h2 {
        font-weight: 700;
        padding-top: 2px;
        margin-top: 2px;
    }

    .info p {
        font: 10px;
        color: rgba(148 148 149);
        padding-right: 20px;
    }

    .info span {
        color: rgba(255, 255, 255, 0.87);
        text-decoration: underline;
    }
}